.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  
}

.login > button {
    padding: 1rem 2.5rem;
    font-size: 17px;
   
}

.login > input {
    padding: 1rem 4rem;
    border: none;
    border-bottom: 1px solid #7f5af0;
    outline: none;
    text-align: center;
    font-size: 30px;
}




