.login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  height: 80vh;
}

.login > button {
  padding: 0.5rem 2.5rem;
  font-size: 17px;
}

.login > input {
  padding: 1rem 4rem;
  border: none;
  border-bottom: 1px solid #7f5af0;
  outline: none;
  text-align: center;
  font-size: 30px;
  background-color: transparent;
}

.login > img {
  background-repeat: no-repeat;
  max-width: 30rem;
}

@media screen and (max-width: 550px) {
  .login > img {
    max-width: 20rem;
  }
  .login > input {
    padding: 1rem 1rem;
    width: 20rem;
  }
}
