.monsters {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}

.grid > figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
  gap: 1rem;
  border: 1px solid #7f5af0;
  border-radius: 10px;
}

.monsters > input {
    padding: 1rem 4rem;
    border: none;
    border-bottom: 1px solid #7f5af0;
    outline: none;
    text-align: center;
    font-size: 30px;
    background-color: transparent;
    margin-top: 1rem;
    margin-bottom: 4rem;
  }

  .grid > figure > img {
    border-radius: 20px;
    height: 250px
  }
