footer {
  width: 100vw;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  background-color: transparent;
  backdrop-filter: blur(5px);
  padding-bottom: 1rem;
}

footer > h3 {
  width: auto;
  background-color: inherit;
}
