header {
  display: flex;
  justify-content: flex-end;
  height: 10vh;
  padding: 1.5rem;
}
header > nav {
  display: flex;
  align-items: center;
}
header > nav > ul {
  display: flex;
  padding: 3rem;
  gap: 1rem;
}

header > button {
  gap: 2rem;
  margin-right: 1rem;
  padding: 0.5rem 2.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 15px;
}

.img-logo {
  display: flex;
  width: 100%;
  margin-left: 1rem;
  justify-content: flex-start;
  align-items: center;
}

header > div > img {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 680px) {
  header > nav > ul {
    font-size: 15px;
  }
  header > div > img {
    width: 30px;
    height: 30px;
  }
  header > button {
    padding: 0.5rem 0.5rem;
  }
}

@media screen and (max-width: 520px) {
  header > div > img {
    width: 0px;
    height: 0px;
  }
}
